@model ControlDeCredito.Models.Contrato

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.CodigoDeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.CodigoDeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoDeContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoDeContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComisionDeContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComisionDeContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoBasicoDeContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoBasicoDeContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoAcobrar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoAcobrar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadDeCuotas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadDeCuotas)
        </dd>

    </dl>
</div>
<div class="btn-group" role="group" aria-label="Button group">
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary mr-2" })
    <br />
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
</div>

