@model ControlDeCredito.Models.Sexo

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Sexo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoDeSexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoDeSexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionDeSexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionDeSexo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default bg-warning" /> |
            <input type="button" class="btn btn-danger" value="Regresar" onclick="Regresar()" />
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

     function Regresar() {
         location.href = "@Url.Action("Index", "Sexoes")"
            return
        }
</script>

