@model IEnumerable<ControlDeCredito.Models.Sexo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using System.Web.Helpers;

<h4>Sexo</h4>

<div id="grid">

    @{
        var grid = new System.Web.Helpers.WebGrid(Model, rowsPerPage: 5,
                        defaultSort: "Sexo");
    }

    @grid.GetHtml(tableStyle: "webgrid",
    headerStyle: "header",
    alternatingRowStyle: "alt",
    columns: grid.Columns(
        grid.Column("Id", "Id", canSort: true),
        grid.Column("CodigoDeSexo", "Codigo", canSort: true),
        grid.Column("DescripcionDeSexo", "Descripcion", canSort: true),
        //grid.Column(columnName: "ProductName", header: "ProductName",
        //    format: item => Html.ActionLink((string)item.ProductName, "Details",
        //        "Product", new { id = item.ProductID }, null), canSort: false),

        //grid.Column("QuantityPerUnit", "Qty Per Unit", canSort: false),
        //grid.Column("UnitPrice", "Unit Price", canSort: false),
        //grid.Column("UnitsInStock", header: "Units In Stock",
        //        format: item => item.UnitsInStock, canSort: false),

        //grid.Column("ReorderLevel", "Reorder Level", canSort: false)

        grid.Column("Acción", format: @<text>

                <a href="@Url.Action("Edit", new {id=item.Id})" title="Editar" class="masterTooltip">
                    <img src="@Url.Content("~/Content/images/edit.png")" height="15" width="15" />
                </a>

                <a href="@Url.Action("Details", new {id=item.Id})" title="Detalles" class="masterTooltip">
                    <img src="@Url.Content("~/Content/images/detallar.jpg")" height="15" width="15" />
                </a>

                <a href="@Url.Action("Delete", new {id=item.Id})" title="Eliminar" class="masterTooltip">
                    <img src="@Url.Content("~/Content/images/eliminar.gif")" height="15" width="15" />
                </a>

        </text>)

            )
            )
</div>
