@model ControlDeCredito.Models.Departamento

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoDeDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoDeDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionDeDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionDeDepartamento)
        </dd>

    </dl>
</div>
<div class="btn-group" role="group" aria-label="Button group">
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary mr-2" }) 
    <br />
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
</div>
