@model ControlDeCredito.Models.Cliente

@{
    ViewBag.Title = "Delete";
}

<h2>Detalles</h2>

<h3>Estás seguro que quieres hacer esto?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Municipio.CodigoDeMunicipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio.CodigoDeMunicipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo.CodigoDeSexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo.CodigoDeSexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDeCliente.CodigoTipoDeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDeCliente.CodigoTipoDeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoDeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoDeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombresDeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombresDeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1DeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1DeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2DeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2DeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionDeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionDeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoDeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoDeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimientoDeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimientoDeCliente)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default bg-warning" /> |
            <input type="button" class="btn btn-danger" value="Regresar" onclick="Regresar()" />
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

     function Regresar() {
         location.href = "@Url.Action("Index", "Clientes")"
            return
        }
</script>
