@model ControlDeCredito.Models.Recibo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recibo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contrato.CodigoDeContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrato.CodigoDeContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeRecibo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeRecibo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecheDeRecibo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecheDeRecibo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoRecibo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoRecibo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeCuotaPagada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeCuotaPagada)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default bg-warning" /> |
            <input type="button" class="btn btn-danger" value="Regresar" onclick="Regresar()" />
        </div>
    }
</div>

@Scripts.Render("~/bundles/jqueryval")
}

<script>

     function Regresar() {
         location.href = "@Url.Action("Index", "Reciboes")"
            return
        }
</script>
s
