@model ControlDeCredito.Models.Recibo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recibo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contrato.CodigoDeContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrato.CodigoDeContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeRecibo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeRecibo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecheDeRecibo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecheDeRecibo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoRecibo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoRecibo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeCuotaPagada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeCuotaPagada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
